/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Thumbs.db
/.fleet
/.idea
/.vscode
*.sqlite
*.sqlite-shm
*.sqlite-wal
/database/database.sqlite
/bootstrap/cache/*.php
composer.lock
package-lock.json
yarn.lock
.DS_Store
*.log
/storage/logs/*
!/storage/logs/.gitkeep
/storage/app/public/*
!/storage/app/public/.gitkeep
/storage/app/private/*
!/storage/app/private/.gitkeep
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
